<div class="wrapper">
  <div class="title-wrapper">
    <img class="picture" alt="celebrity-picture" width="60" height="60" [ngSrc]="celebrity().imageUrl"/>
    <h2 class="title">{{editorTitle()}}</h2>
  </div>
  <form class="celebrity-form" [formGroup]="form">

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select>
        @for (gender of genders; track gender) {
          <mat-option [value]="gender">{{gender}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birth Date</mat-label>
      <input formControlName="birthDate" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Roles</mat-label>
      <mat-chip-grid formControlName="roles" aria-label="Fruit selection" #chipGrid>
        @for (role of roles(); track $index) {
          <mat-chip-row (removed)="remove(role)">
            {{role}}
            <button type="button" matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
        <input
          formControlName="currRole"
          placeholder="New Role..."
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"/>
      </mat-chip-grid>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput
                formControlName="info"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10">
      </textarea>
    </mat-form-field>

  </form>

  <button
    mat-flat-button
    type="button"
    class="edit-btn"
    [disabled]="form.invalid"
    (click)="onEdit()">
    Edit
  </button>
</div>
